@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #c9d9da;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
